<!-- Page Title -->
<div class="page-title">
    <div class="container">
        <h1>About</h1>
        <p>
            Esse dolorum voluptatum ullam est sint nemo et est ipsa porro placeat quibusdam quia assumenda numquam molestias.
        </p>
        <nav class="breadcrumbs">
            <ol>
                <li><a href="index.html" [ngStyle]="{'color':'green'}">Home</a></li>
                <li class="current">About</li>
            </ol>
        </nav>
    </div>
</div>
<section id="about-3" class="about-3 section">

    <div class="container">
      <div class="row gy-4 justify-content-between align-items-center">
        <div class="col-lg-6 order-lg-2 position-relative" data-aos="zoom-out">
          <img src="assets/img_sq_1.jpg" alt="Image" class="img-fluid">
          <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn">
            <span class="play"><i class="bi bi-play-fill"></i></span>
          </a>
        </div>
        <div class="col-lg-5 order-lg-1" data-aos="fade-up" data-aos-delay="100">
          <h2 class="content-title mb-4">Plants Make Life Better</h2>
          <p class="mb-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim
            necessitatibus placeat, atque qui voluptatem velit explicabo vitae
            repellendus architecto provident nisi ullam minus asperiores commodi!
            Tenetur, repellat aliquam nihil illo.
          </p>
          <ul class="list-unstyled list-check">
            <li>Lorem ipsum dolor sit amet</li>
            <li>Velit explicabo vitae repellendu</li>
            <li>Repellat aliquam nihil illo</li>
          </ul>

          <p><a href="#" class="btn-cta">Get in touch</a></p>
        </div>
      </div>
    </div>
  </section>
  <section class="team section" id="team">
    <div class="container">
      <div class="section-title">
        <h2>Team</h2>
        <p>Necessitatibus eius consequatur</p>
      </div>
      <div class="team-content">
        <div class="person" *ngFor="let member of teamMembers">
          <figure>
            <img [src]="member.image" alt="Image" class="img-fluid">
            <div class="social">
              <a href="#"><span class="bi bi-facebook"></span></a>
              <a href="#"><span class="bi bi-twitter-x"></span></a>
              <a href="#"><span class="bi bi-linkedin"></span></a>
            </div>
          </figure>
          <div class="team-info">
            <h3>{{ member.name }}</h3>
            <span class="position">{{ member.position }}</span>
          </div>
        </div>
      </div>
    </div>
  </section>
<app-footer/>
