<div class="blur-background"[ngStyle]="{'background-image': 'url(/assets/Login-bg.jpg)'}"></div>
<div class="form">
    <h3>Register Here</h3>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <label class="username" for="userName">User Name:</label><br/>
    <input type="text" formControlName="userName"><span *ngIf="registerForm.controls.userName.touched && registerForm.controls.userName.invalid">User Name is required</span><br/>
    <label>Email: </label><br/>
    <input type="email" formControlName="emailId"><span *ngIf="registerForm.controls.emailId.touched && registerForm.controls.emailId.invalid">Email Id is required</span><br/>
    <label>Password</label><br/>
    <input type="password" formControlName="password"><span *ngIf="registerForm.controls.password.touched && registerForm.controls.password.invalid">Password is required</span><br/>
    <label>Confirm Password</label><br/>
    <input type="password" formControlName="confirmPassword"><span *ngIf="registerForm.controls.confirmPassword.touched && registerForm.controls.confirmPassword.invalid">confirmPassword is required</span><br/>
    <button type="submit"[disabled]="registerForm.invalid">Register</button><br/>
    <div class="social">
        <div class="go">Google</div>
        <div class="fb">Facebook</div>
    </div>
    <p class="register-statement">Already have an account?
        <a [routerLink]="['/login']" routerLinkActive="router-link-active">Login</a>
    </p>

</form>
</div>